body {
	font-family: 'Segoe UI', sans-serif;
	background: #f0f0f0;
	margin: 0;
	padding: 0;
}

.password-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.top-left-logo {
	position: absolute;
	top: 20px;
	left: 20px;
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 22px;
	font-weight: bold;
}

.top-left-logo img {
	width: 75px;
	height: auto;
}

.form-card {
	background: white;
	padding: 2rem;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	min-width: 350px;
	text-align: center;
}

.form-card h2 {
	margin-bottom: 1.5rem;
}

.form-group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 1rem;
}

.form-group label {
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.form-group input {
	width: 100%;
	padding: 0.5rem;
	border: 1px solid rgb(181, 181, 181);
	border-radius: 10px;
}

.button-group {
	display: flex;
	justify-content: space-between;
	margin-top: 1.5rem;
}

.btn {
	background: #2f5418;
	color: white;
	border: none;
	padding: 0.5rem 1.5rem;
	border-radius: 10px;
	cursor: pointer;
	text-decoration: none;
}

.btn:hover {
	background-color: #3d6c22;
}

.btn.cancel {
	background: #555;
}

.btn.cancel:hover {
	background: #777;
}

.error-message {
	color: red;
	margin-top: 1rem;
	font-weight: bold;
}

.success-message {
	color: green;
	margin-top: 1rem;
	font-weight: bold;
}